.grid-map {
    -fx-alignment: center;
}

.info-move {
    -fx-padding: 16;
    -fx-alignment: center;
    -fx-font-size: 20;
}

.current-gene {
    -fx-font-weight: bold;
    -fx-fill: darkblue;
}

.selected-animal {
    -fx-background-color: #ffeb3b;
}

.popular-genome {
    -fx-stroke: magenta;
    -fx-stroke-width: 1;
}

.rectangle-border {
    -fx-stroke: #ffeb3b;
    -fx-stroke-width: 1;
}

.axis-label {
    -fx-background-color: #fff2bc;
    -fx-alignment: center;
    -fx-border-color: #ac9333;
    -fx-border-width: 1px;
}

.position-plant-preferred {
    -fx-background-color: #ffeb3b;
}